.gb-tintucmoinhat-blog_ruouvang{
  h3{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .gb-blog-left-recent-posts_ruouvang{
    ul{
      padding: 0;
      li{
        list-style-type: none;
        clear: both;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #eee;
        &:first-child{
          padding-top: 0;
          border:none;
        }
        .gb-item-recent-posts_ruouvang{
          .gb-item-recent-posts_ruouvang-img{
            float: left;
            margin-right: 20px;
            position: relative;
            height: 126px;
            overflow: hidden;
            img{
              width: 165px;
              height: auto;
              border-radius: 3px;
            }
          }
          .gb-item-recent-posts_ruouvang-text{
            padding-left: 90px;
            h2{
              margin: 0;
              a{
                font-size: 14px;
                font-weight: bold;
                line-height: 1.57;
                text-align: left;
                color: #222222;
                overflow: hidden;
                display: block;
                margin-bottom: 10px;
                &:hover{
                  text-decoration: none;
                  color: $color-main-ruouvang;
                }
              }
            }
            .gb-news-blog_ruouvang-item-text-des{
              p{
                font-size: 14px;
                line-height: 22px;
                text-align: left;
                color: #7b7b7b;
              }
            }
          }
        }
      }
    }
  }
}